body {
  background: #ececec;
  display: flex;
  justify-content: center;
}

.container {
  background: #9fd3c7;
  border-radius: 10px;
  padding: 50px;
  margin: 50px;
  width: 700px;
  font-family: "Livvic", sans-serif;
}

.App-header {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.App-footer {
  text-align: center;
}
