.Dictionary section {
  background: #ececec;
  padding: 10px;
  border-radius: 4px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.Dictionary input {
  width: 100%;
  border-radius: 4px;
  padding: 10px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 4px;
}
